html {
  z-index: -100;
}

body {
  background-color: rgb(245, 245, 245);
  width: 95%;
  margin: auto;
  margin-top: 1rem;
}
* {
  font-size: 100%;
  font-family: "Ubuntu", sans-serif;
  color: #500404;
  text-decoration: none;
  object-fit: contain;
}

a:hover {
  color: black;
  text-decoration: underline;
  text-decoration-color: #500404;
}

@media screen and (min-width: 850px) {
  body {
    width: 70%;
  }
  .home-section {
    height: 100rem;
    color: black;
  }

  .home-section input {
    display: block;
    margin: auto;
    position: relative;
    top: 25rem;
  }
}

@media screen and (min-width: 1000px) {
  body {
    width: 50%;
  }
  .home-section {
    height: 100rem;
    color: black;
  }
  .home-section input {
    display: block;
    margin: auto;
    position: relative;
    top: 25rem;
  }
}

@media screen and (min-width: 1200px) {
  body {
    width: 50%;
    height: 100rem;
  }
  .home-section {
    color: black;
  }
  .home-section input {
    display: block;
    margin: auto;
    position: relative;
    top: 25rem;
  }
}
